<footer >
    <div class="container-upper-footer">
        <div class="container-about" fxFlex="70">
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>About Farmayu</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Structure & Key Personnel</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Investor Relations</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>Event Gallery</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 1</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 2</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 3</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>Products & Services</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Commodity Purchase</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Crop Forecasting</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Crop Insurance</a>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="30">
            <div  fxLayout="column" fxLayoutAlign="space-between  stretch" fxFlex="50">
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Disclaimer</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Terms of Use</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Copyright</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Site Map</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Website Policies</a>                
            </div>
            <div  fxLayout="column" fxLayoutAlign="end stretch"  fxFlex="50">
                <div  fxLayout="column" fxLayoutAlign="end end">
                    <div >Farmayu Mobile</div>
                    <div fxLayout="row" >
                    <img  class="icon list-horizontal"  src="/assets/icons/apple-app-store.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/google-play-store.png"  >
                    </div>
                </div>
                <div class="list"  fxLayout="column" fxLayoutAlign="end end">           
                    <div >Follow Us On</div>
                    <div fxLayout="row" >
                    <img class="icon list-horizontal"  src="/assets/icons/facebook.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/instagram.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/twitter.png"  >
                    </div>   
                </div>  
            </div>
        </div>
    </div>
    <div class="showBand" fxLayout="row" fxLayoutAlign="center center">Copyright@farmayu 2020. All rights reserved</div>       
</footer>